body {
    font-family: 'Pattaya', sans-serif;
    margin: 0;
}

.jumbotron {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    margin: auto;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
    color: rgb(47, 79, 79);
    text-align: center;
}

hr {
    width: 50px;
    border-color: rgb(47, 79, 79);
    border-width: 2px;
    }

nav {
    background-color: rgb(255, 111, 105);
    color: rgb(235, 245, 255);
    margin-top: auto;
    margin-left: -50px;
    margin-right: -50px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 30px;
}

nav li {
    display: inline;
    padding: 15px;
    font-size: 20px;
}

#Welcome {
    background: linear-gradient(35deg, rgb(255, 111, 105), rgb(255, 204, 92));
    color: rgb(47, 79, 79);
    margin-top: 200px;
    padding: 50px;
}


footer {
    display: flex;
    justify-content: center;
    background-color: rgb(150, 206, 180);
    color: rgb(47, 79, 79);
    padding-left: 25px;
    vertical-align: middle;
}

footer a {
    display: inline;
    padding: 15px;
    color: cadetblue;
}

p {
    font-size: 18px;
    text-align: justify;
}

.navigation:link {
    color: rgb(235, 245, 255);
}

.navigation:visited {
    color: rgb(235, 245, 255);   
}


.navigation:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    border-style: solid;
    border-color: rgb(235, 245, 255);
    border-width: thick;
    border-radius: 15px;
}

img:hover {
    opacity: 1;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width: 50%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease-in-out;
}

.dots {
    text-align: center;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-transition: fade;
    -webkit-transition-duration: 7s;
    animation-name: fade;
    animation-duration: 7s;
    animation-direction: alternate;
    transition: ease-in-out;
} 

@-webkit-keyframes fade {
    0% {opacity: 0.4} 
    100% {opacity: 1}
}

@keyframes fade {
    0% {opacity: 0.4} 
    100% {opacity: 1}
}

@media only screen and (max-width: 600px) {
   .slideshow-container {
    width: 100%; 
    }
     
    h1 {
    font-size: 30px;
}
    h2 {
    font-size: 20px;
    }
    
    h3 {
        font-size: 25px;
    }
    
    p {
        margin: 5px;
    }
    
    #Welcome {
        margin-top: 30px;
        margin-left: 20px;
}
}

