body {
    font-family: 'Pattaya', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 50px 220px 1fr 1fr 220px;
    grid-template-columns: repeat(2, 1fr);
}
    
header {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    background-color: rgb(255, 204, 92);
    padding: 20px;
    color: rgb(47, 79, 79);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

nav {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(255, 111, 105);
    color: rgb(235, 245, 255);
    margin-top: -20px;
    padding-right: 20px;
    padding-top: 15px;
}

nav li {
    display: inline;
    padding: 15px;
    text-decoration: underline;
}

form {
    float: right;
    margin-top: -35px;
}

.News {
    grid-area: 3 / 1 / 5 / 3;
    background-color: rgb(255, 238, 173);
    color: rgb(47, 79, 79);
    margin-top: -20px;
    padding: 30px;
}

.News img {
    border-style: solid;
    border-color: rgb(235, 245, 255); 
    border-width: thick;
    border-radius: 15px;
}

.News p {
    grid-column-start: 2;
}

footer {
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(150, 206, 180);
    background-size: cover;
    color: rgb(47, 79, 79);
    padding-left: 15px;
}

footer li {
    display: inline;
    padding: 15px;
}

div p {
    font-size: 18px;
}

#avocado {
    grid-column-start: 2 span 1;
}
