body {
    font-family: 'Pattaya', sans-serif;
    margin: 0;
}
    
header {
    text-align: center;
    height: 220px;
    background-color: rgb(255, 204, 92);
    padding: 20px;
    color: rgb(47, 79, 79);
}

h1 {
    font-size: 50px;
}

nav {
    height: 50px;
    background-color: rgb(255, 111, 105);
    color: rgb(235, 245, 255);
    margin-top: -20px;
    padding-top: 15px;
}

nav li {
    display: inline;
    padding: 15px;
    text-decoration: underline;
}

form {
    float: right;
    margin-top: -35px;
}

.News {
    height: 300px;
    background-color: rgb(255, 238, 173);
    color: rgb(47, 79, 79);
    margin-top: -20px;
    padding-left: 15px;
    padding-top: 3px;
}

footer {
    background-color: rgb(150, 206, 180);
    color: rgb(47, 79, 79);
    margin-top: -20px;
    padding: 15px;
}

footer li {
    display: inline;
    padding: 15px;
}

div p {
    font-size: 18px;
}