body {
    font-family: 'Pattaya', sans-serif;
    margin: 0;
    background-size: cover;
}

.jumbotron {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    margin: auto;
}

h1 {
    font-size: 50px;
    color: rgb(47, 79, 79);
}

h2 {
    font-size: 35px;
    color: rgb(47, 79, 79);
    text-align: center;
}

nav {
    background-color: rgb(255, 111, 105);
    color: rgb(235, 245, 255);
    margin-top: auto;
    margin-left: -50px;
    margin-right: -50px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 30px;
}

nav li {
    display: inline;
    padding: 15px;
    text-decoration: underline;
    font-size: 20px;
}

#Welcome {
    background: linear-gradient(35deg, rgb(255, 111, 105), rgb(255, 204, 92));
    color: rgb(47, 79, 79);
    margin-top: 200px;
    padding: 50px;
}


footer {
    display: flex;
    justify-content: center;
    background-color: rgb(150, 206, 180);
    color: rgb(47, 79, 79);
    padding-left: 25px;
    vertical-align: middle;
}

footer a {
    display: inline;
    padding: 15px;
    color: cadetblue;
}

p {
    font-size: 18px;
    text-align: justify;
}

.navigation:link {
    color: rgb(235, 245, 255);
}

.navigation:visited {
    color: rgb(235, 245, 255);   
<<<<<<< HEAD
}
=======
}

$("#recipe-carousel").carousel();
>>>>>>> 81017e5f9bad383e7ba6dfdcc83cbdf606cd4bae
