body {
    font-family: 'Pattaya', sans-serif;
    margin: 0;
}

.jumbotron {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 10% 30%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
    color: rgb(47, 79, 79);
    text-align: center;
}

hr {
    width: 50px;
    border-color: rgb(47, 79, 79);
    border-width: 2px;
    }

nav {
    background-color: rgb(255, 111, 105);
    color: rgb(235, 245, 255);
    margin-top: auto;
    margin-left: -50px;
    margin-right: -50px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 30px;
}

nav li {
    display: inline;
    padding: 15px;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#Welcome {
    background: linear-gradient(35deg, rgb(255, 111, 105), rgb(255, 204, 92));
    color: rgb(47, 79, 79);
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

#myCarousel {
    width: 500px;
    height:500px;
    position: relative;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(150, 206, 180);
    color: rgb(47, 79, 79);
    padding-left: 25px;
    vertical-align: middle;
}

footer a {
    display: inline;
    padding: 15px;
    color: cadetblue;
}

p {
    font-size: 18px;
    text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
}

.navigation:link {
    color: rgb(235, 245, 255);
}

.navigation:visited {
    color: rgb(235, 245, 255);   
}


.navigation:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    border-style: solid;
    border-color: rgb(235, 245, 255);
    border-width: thick;
    border-radius: 15px;
}

* {box-sizing:border-box}

.slideshow-container {
    width: 50%;
    object-position: center;
    margin: 30%;
}

@media only screen and (max-width: 768px) {
    .jumbotron {
        margin: auto;
    }
    
    #myCarousel {
        width: 200px;
        height: 200px;
    }
     
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 25px;
    }
    
    p {
        margin: 5px;
    }
    
    #Welcome {
        margin-top: 30px;
}
    footer {
        margin-top: 2%;
    }
}

