body {
    font-family: 'Pattaya', sans-serif;
    margin: 0;
    background-size: cover;
    }

nav {
    background-color: rgb(255, 111, 105);
    color: rgb(235, 245, 255);
    margin-top: auto;
    margin-left: -50px;
    margin-right: -50px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 30px;
}

nav li {
    display: inline;
    padding: 15px;
    font-size: 20px;
}

.navigation:link {
    color: rgb(235, 245, 255);
}

.navigation:visited {
    color: rgb(235, 245, 255);   
}

.navigation:hover {
    text-decoration: underline;
}

h1 {
    font-size: 50px;
}

label {
    display:block;
}

header {
    text-align: center;
    background-color: rgb(255, 255, 255, 0.5);
}

.jumbotron {
    background: linear-gradient(35deg, rgb(255, 111, 105), rgb(255, 204, 92));
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(150, 206, 180);
    color: rgb(47, 79, 79);
    padding-left: 25px;
    vertical-align: middle;
}

footer a {
    display: inline;
    padding: 15px;
    color: cadetblue;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 35px;
    }
    
    .jumbotron {
      margin-top: 50px;  
    }
    
    nav li {
        padding: 20px;
    }
}
