.jumbotron {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 30px 200px 100px 200px;
}

img {
    border-style: solid;
    border-color: rgb(235, 245, 255);
    border-width: thick;
    border-radius: 15px;
    height: 500px;
}

body {
    font-family: 'Pattaya', sans-serif;
    margin: 0;
    background: linear-gradient(35deg, rgb(255, 111, 105), rgb(255, 204, 92));
    background-size: 100%;
    align-content: center;
    }

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(255, 111, 105);
    color: rgb(235, 245, 255);
    margin-top: auto;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 30px;
}

nav li {
    display: inline;
    padding: 15px;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(150, 206, 180);
    color: rgb(47, 79, 79);
    padding-left: 25px;
    vertical-align: middle;
}

footer a {
    display: inline;
    padding: 15px;
    color: cadetblue;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    }

.navigation:link {
    color: rgb(235, 245, 255);
}

.navigation:visited {
    color: rgb(235, 245, 255);   
}

.navigation:hover {
    text-decoration: underline;
}

#Meals {
    color: rgb(47, 79, 79);
    text-align: center;
}

#title {
    padding: 80px;
}

p {
    font-size: 18px;
    line-height: 70px;
}



@media only screen and (max-width: 600px) {
    
    body {
        width: 100%;
        margin-right: -50%;
    }
    
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        padding-right: 0;
    }
     
    .jumbotron {
        margin: 2%;
    }

    img {
        width: 80%;
        height: 80%;
    }
    
    #barley {
        margin-top: 10%;
    }
    
    #navbar {
        padding-left: 0;
    }
    
    p {
        line-height: normal;
    }
    }
    